@media screen and (max-width:480px) {

    
    .pcVer{
        display: none;
    }
    .phoneVer{
        display: block;
    }
    body{
        min-width: 0;
    }


    /*-------------------------------------------*/

   header{
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;
        text-align: center;
    }
    
    .header-left img{
        margin-left: 0;
    }
    .header-center h3{
        font-size: 20px;
        width: 280px;
        margin: auto;
        padding-left: 0;
    }
    .header-right{
        display: block;
        float: right;
        width: 100px;
    }
    /*-------------------------------------------*/
    .menu-wrapper{
        background-color: rgba(0, 0, 0, 0.67);
    }
    .menu-inner{
        display: none;
    }

    .menu-inner li{
        text-align: center;
        border-top: 1px solid white;
        padding: 20px 0;
        width: 100%;
        margin: auto;
    }
    .menu-wrapper a{
        display: inline-block;
        color: white;
        text-decoration: none;
        font-size: 25px;
    }

    /*-------------------------------------------*/
    .top-wrapper{
        background-size: 20px;
        padding-top: 80px;
    }

    .slider{
        height: 100%;
    }

    .slider-item{
        height: 25vh;
        background-size: 100%;
    }

    .change-btn-wrapper{
        padding-bottom: 0;
    }
    .slick-prev,.slick-next {
        top: 80px;
        height: 20px;
        width: 20px;
        border-top: 5px solid #000000;/*矢印の色*/
        border-right: 5px solid #000000;/*矢印の色*/
    }

    .slick-dots button{
        margin: 10px 0;
    }

    /*-------------------------------------------*/

    .intro-text h1{
        font-size: 35px;
        width:350px;
        margin: auto;
        padding-left: 10px;
        padding-top: 30px;
    }
    .intro-text h2{
        font-size: 25px;
        width: 235px;
        margin: auto;

    }
    .intro-text p{
        font-size: 15px;
        margin: 30px 20px 0 20px;
    }
    .intro-img{
        padding-top:40px;
    }
    .intro-img img{
        width: 201px;
        height: 269px;
    }




    /*-------------------------------------------*/
    .faq-wrapper{
        padding-bottom: 80px;
    }

    .faq-container h1{
        font-size: 35px;
    }
    .faqs{
        width: 90%;
    }
    .faq h2{
        font-size:20px;
        
    }
    .answer p{
        font-size: 13px;
    }
    .faq-span{
        font-weight: bold;
        font-size: 30px;
    }
    
    /*-------------------------------------------*/


    .news-wrapper{
        text-align: center;
    }
     
    .news-inner {
        width: 90%;
    }

    .news-inner h1{
        padding-bottom: 20px;
        font-size: 35px;
    }
    .news h2{
        font-size: 15px;
        padding-top: 10px;
    }
    .news a{
        font-size: 20px;
        padding: 5px;
    }

   /*-------------------------------------------*/



   .phone-menu{
        border: 2px solid black;
    }

    .a-menu{
        display: flex;
        
    }
    .a-menu a{
        height: 75px;
        width: 33.33%;
        border: 1px solid black;
    }
    .b-menu {
        display: flex;
    }
    .b-menu a{
        height: 75px;
        width: 33.33%;
        border: 1px solid black;
    }
    .top-menu{
        background-image: url(https://github.com/yuuki106/azuki_schedule/blob/main/top_icon.jpg?raw=true);
        background-size: contain;
    }
    .pro-menu{
        background-image: url(https://github.com/yuuki106/azuki_schedule/blob/main/profile_icon.jpg?raw=true);
        background-size: contain;
    }
    .sch-menu{
        background-image: url(https://github.com/yuuki106/azuki_schedule/blob/main/schedule_icon.jpg?raw=true);
        background-size: contain;
    }
    .his-menu{
        background-image: url(https://github.com/yuuki106/azuki_schedule/blob/main/history_icon.jpg?raw=true);
        background-size: contain;
    }
    .gal-menu{
        background-image: url(https://github.com/yuuki106/azuki_schedule/blob/main/gallery_icon.jpg?raw=true);
        background-size: contain;
    }
    .goo-menu{
        background-image: url(https://github.com/yuuki106/azuki_schedule/blob/main/Goods_icon.jpg?raw=true);
        background-size: contain;
    }

   
}
